EXPO_PUBLIC_SUPABASE_URL=tu_url_de_supabase
EXPO_PUBLIC_SUPABASE_ANON_KEY=tu_anon_key
EXPO_PUBLIC_RESEND_API_KEY=tu_api_key_de_resend
EXPO_PUBLIC_MP_PUBLIC_KEY=tu_public_key_de_mercadopago
EXPO_PUBLIC_MP_ACCESS_TOKEN=tu_access_token_de_mercadopago